<div class="adsense">
    @Ads
</div>

@code
{
    private RenderFragment Ads
    {
        get
        {
            @* Generate <script data-ad-client="ca-pub-9968506889480502" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> *@
            RenderFragment adFragment = builder =>
            {
                builder.OpenElement(0, "script");
                builder.AddAttribute(0, "data-ad-client", "ca-pub-9968506889480502");
                builder.AddAttribute(0, "async", true);
                builder.AddAttribute(0, "src", "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js");
                builder.CloseElement();
            };
            return adFragment;
        }
    }
}