@using Client.Config;

@inherits LayoutComponentBase

<div>
    <main class="main">
        <div class="content px-4">
            @Body
        </div>
    </main>
    <footer>℗ @DateTime.Now.Year ExoKomodo</footer>
</div>
