@page "/webring/torson/blogs"
@using Client.Pages.Webring.Torson.Components

<link href="css/torson/styles.css" rel="stylesheet" />

@if (_blogs is not null)
{
    <div id="body">
        <BackLink Link="/webring/torson" PageName="home" />
        <h1>Blogs</h1>
        <div>
            <ul>
                @foreach (var (blog, index) in _blogs.Select((item, index) => (item, index)))
                {
                    <li>
                        <h3>
                            <a href="@($"/webring/torson/blogs/{index}")">
                                @blog.Date.ToShortDateString() - @((MarkupString)blog.Title)
                            </a>
                        </h3>
                    </li>
                }
            </ul>
        </div>
    </div>
}