@page "/jorson/games/kaiju"
@using Client.Pages.Webring.Jorson.Components

<link href="css/jorson/styles.css" rel="stylesheet" />
<link href="css/jorson/games/kaiju.css" rel="stylesheet" />

<div id="body">
    <BackLink Link="/jorson/games" PageName="Games" />
    <h1>Kaiju</h1>
    <div id="kaiju-container">
    </div>
</div>
