@page "/webring"

<h1>Webring</h1>

@if (IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Page Name</th>
                <th>Page Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var page in _webring.Where(x => !x.IsDisabled))
            {
                <tr>
                    <td>@(page.Name)</td>
                    <td><a href="webring@(page.LinkOverride ?? page.Link)">Home</a></td>
                </tr>
            }
        </tbody>
    </table>
}

<div id="geekring">
    <img src="http://geekring.net/banner/geek_1.gif" alt="geekring.net nvigation" usemap="#geekringmap">
    <map name="geekringmap">
        <area shape="rect" coords="9,28,111,53" alt="Previous geekring site" href="http://geekring.net/site/NUMBER/previous">
        <area shape="rect" coords="248,28,350,53" alt="Random geekring site" href="http://geekring.net/site/NUMBER/random">
        <area shape="rect" coords="490,28,592,53" alt="Next geekring site" href="http://geekring.net/site/NUMBER/next">
        <area shape="rect" coords="465,6,566,22" alt="Main geekring site" href="http://geekring.net/">
    </map>
</div>