@page "/torson/life/{Id:int}"
@using Client.Pages.Webring.Torson.Components

<link href="css/torson/styles.css" rel="stylesheet" />
@if (_lifeblog is not null)
{
    <div id="body">
        <BackLink Link="/torson/life" PageName="blogs" />
        <h1>@_lifeblog.Title</h1>
        <div>
            @((MarkupString)_lifeblog.Content.Text)
        </div>
    </div>
}
