@page "/torson/life"
@using Client.Pages.Webring.Torson.Components

<link href="css/torson/styles.css" rel="stylesheet" />

@if (_lifeBlogs is not null)
{
    <div id="body">
        <BackLink Link="/torson" PageName="home" />
        <h1>My Life Blogs</h1>
        <div>
            <ul>
                @foreach (var (blog, index) in _lifeBlogs.Select((item, index) => (item, index)))
                {
                    <li>
                        <h3>
                            <a href="@($"/torson/life/{index}")">
                                @blog.Date.ToShortDateString() - @((MarkupString)blog.Title)
                            </a>
                        </h3>
                    </li>
                }
            </ul>
        </div>
    </div>
}