@page "/users/jorson/games"
@using ExoKomodo.Pages.Users.Jorson.Components

<link href="css/jorson/styles.css" rel="stylesheet" />

@if (_games is not null)
{
    <div id="body">
        <BackLink Link="/users/jorson" PageName="home" />
        <h1>Games</h1>
        <div>
            <ul>
                @foreach (var game in _games)
                {
                    <li>
                        <a href="@($"/users/jorson/games/{String.Join('-', game.ToLower().Split(' '))}")">@game</a>
                    </li>
                }
            </ul>
            @if (_games.Count == 0)
            {
                <span>Games are currently unavailable due to technical limitations.</span>
            }
        </div>
    </div>
}