@page "/users/jorson/pong"

@using ExoKomodo.Config;

@if (_self == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Pong is <i>ball</i>er!</h1>
}

<div style="float: right;">
    <input id="hide-sidebar" type="checkbox" @bind="AppState.IsSidebarHidden" />
    <label for="hide-sidebar">Hide sidebar?</label>
</div>

<div id="pong-container"></div>