@page "/dabby/ramen"

@using Client.Pages.Webring.Jorson.Components

<link href="css/dabby/styles.css" rel="stylesheet" />

@if (_ramenBlogs is not null)
{
    <div id="body">
        <BackLink Link="/dabby" PageName="home" />
        <h1>Ramen Blog</h1>
        <div>
            <ul>
                @foreach (var (blog, index) in _ramenBlogs.Select((item, index) => (item, index)))
                {
                    <li>
                        <h3>
                            <a href="@($"/dabby/ramen/{index}")">
                                @blog.Date - @((MarkupString)blog.Title)
                            </a>
                        </h3>
                    </li>
                }
            </ul>
        </div>
    </div>
}