@page "/webring/dabby/ramen-blog/{Id:int}"

@using Client.Pages.Webring.Jorson.Components

<link href="css/dabby/styles.css" rel="stylesheet" />
<link href="css/dabby/ramen-blog/ramen-blog.css" rel="stylesheet" />

@if (_blog is not null)
{
    <div id="body">
        <BackLink Link="/webring/dabby/ramen-blog" PageName="ramen blog" />
        <h1>@_blog.Title</h1>
        <div id="blog">
            @((MarkupString)_blog.Content.Text)
        </div>
    </div>
}