@page "/users"

<h1>Users</h1>

@if (IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Home Page</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FullName</td>
                    <td><a href="@user.HomePage">Home</a></td>
                </tr>
            }
        </tbody>
    </table>
}