@page "/jorson/games"
@using Client.Pages.Webring.Jorson.Components

<link href="css/jorson/styles.css" rel="stylesheet" />

@if (_games is not null)
{
    <div id="body">
        <BackLink Link="/jorson" PageName="home" />
        <h1>Games</h1>
        <div>
            <ul>
                @foreach (var game in _games)
                {
                    <li>
                        <a href="@($"/jorson/games/{String.Join('-', game.ToLower().Split(' '))}")">@game</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}