@page "/users/jorson"

@using ExoKomodo.Config;

@if (_self == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Hey it's me, @(_self.FullName)!</h1>
    <p>I like to work on games and weird code stuff.</p>
}

<div>
    <ul>
        @foreach (var game in _games)
        {
            <li>
                <a href="@($"/users/jorson/{game.ToLower()}")">@(game)</a>
            </li>
        }
    </ul>
</div>