@page "/users/jorson"

<link href="css/jorson/styles.css" rel="stylesheet" />
<link href="css/jorson/home.css" rel="stylesheet" />

@if (_self == null)
{
}
else
{
    <div id="body">
        <h1>Hey it's me, @(_self.FullName)!</h1>
        <div id="home-body-content">
            <h3 id="who-am-i-heading">Who am I?</h3>
            <p id="who-am-i">
                <br />I am a recent Computer Science graduate of <a href="https://www.cedarville.edu">Cedarville University</a>.
                Despite not having internet until my mid teen years, I fell in love with video games and digital media growing
                up.
                <br /><br />
                I discovered my passion for programming later on in life when I got into college.
                I didn't know how to type when I got into college, so I had a rough go of it at the beginning.
                By Sophomore year, I had mastered typing and my hopeless obsession with programming began.
                <br /><br />
                These days, I am employed by <a href="https://www.purestorage.com">Pure Storage</a>,
                and I spend most of my free time working on weird crap like this website.
            </p>
            <img id="who-am-i-image"
                class="home-body-image"
                src="assets/jorson/about/headshot.png"
                alt="James Orson">
            <h3 id="what-do-i-care-about-heading">What do I care about?</h3>
            <p id="what-do-i-care-about"
                class="content-heading">
                <br />
                Like most normal humans, I care a lot about my family, including my wife and two cats. I also care greatly about games,
                both digital and physical, and I program in much of my spare time. I greatly value education, so many of my
                projects are aimed at either improving my own skillset or knowledge on various topics.
                Whether that be writing an <a href="https://gitlab.com/JamesOrson/xanderos">OS</a>
                or working on game engines (<a href="https://github.com/ExoKomodo/Komodo">Komodo</a>, <a href="https://github.com/Beef-Community-Project/Steel">Steel</a>).
                <br /><br />
                I hope that the whole world will continue to embrace tech more intimately. Through my own love for technology and
                learning, I hope my burning passion will encourage others to push forward in pursuit of their dreams.
            </p>
            <img id="what-do-i-care-about-image"
                class="home-body-image"
                src="assets/jorson/about/family.png"
                alt="James Orson">
        </div>

        <div>
            <h2>Games</h2>
            <ul>
                @foreach (var game in _games)
                {
                    <li>
                        <a href="@($"/users/jorson/{game.ToLower()}")">@(game)</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}