@page "/webring/jorson/games/corporation-tycoon"
@using Client.Pages.Webring.Jorson.Components

<link href="css/jorson/styles.css" rel="stylesheet" />
<link href="css/jorson/games/corporationTycoon.css" rel="stylesheet" />

<div id="body">
    <BackLink Link="/webring/jorson/games" PageName="games" />
    <h1>Corporation Tycoon</h1>
    <div id="corporation-tycoon-container"></div>
</div>
