@page "/users/jorson/games/corporation-tycoon"

<link href="css/jorson/styles.css" rel="stylesheet" />
<link href="css/jorson/games/corporationTycoon.css" rel="stylesheet" />

<div id="body">
    <a href="/users/jorson/games">&larr; Back to Games</a>
    <h1>Corporation Tycoon</h1>
    <div id="corporation-tycoon-container"></div>
</div>
