@inject IJSRuntime JS

@page "/users/jorson/games/corporation-tycoon"
@using ExoKomodo.Pages.Users.Jorson.Components

<link href="css/jorson/games/corporationTycoon.css" rel="stylesheet" />

<div id="jorson-body">
    <BackLink Link="/users/jorson/games" PageName="games" />
    <h1>Corporation Tycoon</h1>
    <div id="corporation-tycoon-container"></div>
</div>
