@page "/users/torson"
<link href="css/torson/styles.css" rel="stylesheet" />

@if (_self == null)
{
    <div class="loading">
        <img src="../wwwroot\img\torson\loading-bunny.gif" width="300px"/>
        <p><em>Loading...</em></p>
    </div>
}
else
{
    <h1>Hey it's me, @(_self.FullName)!</h1>
}
