@using ExoKomodo.Config;

<div class="">
    <ul class="nav flex-row">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="home">
                <img class="logo-top" src="img/torson/logo-t.png" />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projects" Match="NavLinkMatch.All"> Projects
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="blog"> Blog
            </NavLink>
        </li>
    </ul>
</div>

@code {
    
}
