@page "/webring/jjones"

@using Client.Pages.Webring.Jorson.Components;

<link href="css/jjones/styles.css" rel="stylesheet" />
<link href="css/jjones/home.css" rel="stylesheet" />

@if (_self == null)
{
}
else
{
    <div id="body">
        <BackLink Link="/webring" PageName="webring" />
        <h1>
            Hey it's me, @(_self.Name)!
            Check out my <a href="/webring/jjones/recipes">Recipes</a>.
        </h1>
    </div>
}