@page "/webring/nbarlow/web-links"

<link href="css/nbarlow/styles.css" rel="stylesheet" />
<link href="css/nbarlow/home.css" rel="stylesheet" />

@using Client.Pages.Webring.Jorson.Components

@if (_self == null)
{
}
else
{
    <div id="body">
        <div class="top-row">
        </div>
        <BackLink Link="/webring/nbarlow" PageName="nbarlow" />
        <h1>
            Hey it's @(_self.Name)'s web-links directory!
        </h1>
        <p class="content">
            <h2>Fun Programming Websites!</h2>
            <ul>
                <li><a href="https://scs-architecture.org/">Self-Contained Systems</a></li>
                <li><a href="https://12factor.net/">The Twelve-Factor App</a></li>
                <li><a href="https://roca-style.org/">Resource-Oriented Client Architecture</a></li>
                <li><a href="https://sre.google/sre-book/table-of-contents/">SRE Book</a></li>
                <li><a href="https://matklad.github.io/2021/02/06/ARCHITECTURE.md.html">ARCHITECTURE.md</a></li>
                <li><a href="https://jwt.io/introduction">Introduction to JSON Web Tokens</a></li>
            </ul>
            <h2>Interesting Websites!</h2>
            <ul>
                <li><a href="https://simone.computer/">simone.computer</a></li>
                <li><a href="https://themugbearer.artstation.com/">Artemiy Karpinskiy | Freelance Ditigal LEGO Designer</a></li>
                <li><a href="https://sadgrl.online/cybercafe/surftheweb.html">Surf the Web</a></li>
                <li><a href="https://multiverse.plus/">MULTIVERSE</a></li>
                <li><a href="https://www.sbnation.com/a/17776-football">17776</a></li>
            </ul>
            <h2>Fun Social Media Alternatives!</h2>
            <ul>
                <li><a href="https://spacehey.com/">spacehey</a></li>
                <li><a href="https://tildes.net/">tildes.net</a></li>
                <li><a href="https://lobste.rs/">Lobsters</a></li>
            </ul>
            <h2>Fellow Web-Link Directories!</h2>
            <ul>
                <li><a href="https://href.cool/">href.cool</a></li>
                <li><a href="https://peelopaalu.neocities.org/">peelopaalu.neocities.org</a></li>
                <li><a href="https://terra.finzdani.net/">terra.finzdani.net</a></li>
                <li><a href="https://marijn.uk/linkroll/">marijn.uk/linkroll</a></li>
                <li><a href="https://whimsical.club/">whimsical.club</a></li>
                <li><a href="http://www.electrictrash.com/">electrictrash.com</a></li>
                <li><a href="https://virtualvault.neocities.org/links/index.html">virtualvault.neocities.org/links/index.html</a></li>
                <li><a href="https://jacobhall.net/links.html">jacobhall.net/links.html</a></li>
                <li><a href="https://neozones.neocities.org/acidjaw/tech/links-we-like/">neozones.neocities.org/acidjaw/tech/links-we-like</a></li>
                <li><a href="https://sadgrl.online/links.html">sadgrl.online/links.html</a></li>
                <li><a href="https://yesterweb.org/link-directory/">yesterweb.org/link-directory</a></li>
            </ul>
            <h2>Webrings!</h2>
            <ul>
                <li><a href="http://geekring.net/">geekring.net</a></li>
            </ul>
        </p>
    </div>
}
