@page "/users/jorson/pong"

@using ExoKomodo.Config;

<link href="css/jorson/styles.css" rel="stylesheet" />
<link href="css/jorson/games/pong.css" rel="stylesheet" />

<div id="body">
    <div id="pong-container">
        <h1>Pong is <i>ball</i>er! Do you wanna go <a href="/users/jorson">back</a>?</h1>
    </div>
</div>
