@page "/jorson/life"
@using Client.Pages.Webring.Jorson.Components

<link href="css/jorson/styles.css" rel="stylesheet" />

@if (_lifeBlogs is not null)
{
    <div id="body">
        <BackLink Link="/jorson" PageName="home" />
        <h1>My Life Blogs</h1>
        <div>
            <ul>
                @foreach (var (blog, index) in _lifeBlogs.Select((item, index) => (item, index)))
                {
                    <li>
                        <h3>
                            <a href="@($"/jorson/life/{index}")">
                                @blog.Date - @((MarkupString)blog.Title)
                            </a>
                        </h3>
                    </li>
                }
            </ul>
        </div>
    </div>
}