@page "/users/jjones/recipes/{Id:int}"
@using Client.Pages.Users.Jorson.Components

<link href="css/jjones/styles.css" rel="stylesheet" />
@if (_recipe is not null)
{
    <div id="body">
        <BackLink Link="/users/jjones/recipes" PageName="recipes" />
        <h1>@_recipe.Title</h1>
        <div>
            @((MarkupString)_recipe.Content.Text)
        </div>
    </div>
}
