@page "/users/dabby"

@using ExoKomodo.Pages.Users.Jorson.Components;

<link href="css/dabby/styles.css" rel="stylesheet" />
<link href="css/dabby/home.css" rel="stylesheet" />

@if (_self == null)
{
}
else
{
    <div id="body">
        <BackLink Link="/users" PageName="users" />
        <h1>
            Hey it's me, @(_self.FullName)!
        </h1>
        <div class="dancing-skeletons"></div>
        <p class="content">
            My life has been quite a time.
        </p>
        <h2>Check out my <a href="/users/dabby/ramen-blog">Ramen Blog</a>.</h2>
        <div class="dancing-skeletons"></div>
    </div>
}