@page "/users/<user id>/<blog name>/{Id:int}"
@using Client.Pages.Users.Jorson.Components

@if (_blog is not null)
{
    <div id="body">
        <BackLink Link="/users/<user id>/<blog name>" PageName="<blog name>" />
        <h1>@_blog.Title</h1>
        <div>
            @((MarkupString)_blog.Content.Text)
        </div>
    </div>
}
