@page "/<user id>/<blog name>"
@using Client.Pages.Webring.Jorson.Components

@if (_blogs is not null)
{
    <div id="body">
        <BackLink Link="/<user id>" PageName="home" />
        <h1>Blog title</h1>
        <div>
            <ul>
                @foreach (var (blog, index) in _blogs.Select((item, index) => (item, index)))
                {
                    <li>
                        <h3>
                            <a href="@($"/<user id>/<blog name>/{index}")">
                                @blog.Date - @((MarkupString)blog.Title)
                            </a>
                        </h3>
                    </li>
                }
            </ul>
        </div>
    </div>
}