@page "/users/jorson/games/pong"

<link href="css/jorson/styles.css" rel="stylesheet" />
<link href="css/jorson/games/pong.css" rel="stylesheet" />

<div id="body">
    <a href="/users/jorson/games">&larr; Back to Games</a>
    <h1>Pong is <i>ball</i>er!</h1>
    <div id="pong-container">
    </div>
</div>
