@* @inject IJSRuntime JS

@page "/users/jorson/games/kaiju"
@using ExoKomodo.Pages.Users.Jorson.Components

<link href="css/jorson/styles.css" rel="stylesheet" />
<link href="css/jorson/games/kaiju.css" rel="stylesheet" />

<div id="body">
    <BackLink Link="/users/jorson/games" PageName="Games" />
    <h1>Kaiju</h1>
    <div id="kaiju-container">
    </div>
</div> *@
