@page "/users/jorson/blogs/{Id:int}"
@using ExoKomodo.Pages.Users.Jorson.Components

@if (_blog is not null)
{
    <div id="jorson-body">
        <BackLink Link="/users/jorson/blogs" PageName="blogs" />
        <h1>@_blog.Title</h1>
        <div>
            @((MarkupString)_blog.Content.Text)
            <img src="img/jorson/james-logo.svg" height="100px">
        </div>
    </div>
}