@page "/users/jorson/blogs/{Id:int}"

<link href="css/jorson/styles.css" rel="stylesheet" />
@if (_blog is not null)
{
    <div id="body">
        <a href="/users/jorson/blogs">&larr; Back to Blogs</a>
        <h1>@_blog.Title</h1>
        <div>
            @((MarkupString)_blog.Content.Text)
            <img src="img/jorson/james-logo.svg" height="100px">
        </div>
    </div>
}