@page "/torson/baby-carrier"
@using Client.Pages.Webring.Torson.Components

<link href="css/torson/styles.css" rel="stylesheet" />

@if (_babyCarrierBlogs is not null)
{
    <div id="body">
        <BackLink Link="/torson" PageName="home" />
        <h1>Baby Carrier Reviews</h1>
        <div>
            <ul>
                @foreach (var (blog, index) in _babyCarrierBlogs.Select((item, index) => (item, index)))
                {
                    <li>
                        <h3>
                            <a href="@($"/torson/baby-carrier/{blog.Id}")">
                                @((MarkupString)blog.Title)
                            </a>
                        </h3>
                    </li>
                }
            </ul>
        </div>
    </div>
}