@page "/users/jorson/food/{Id:int}"
@using Client.Pages.Users.Jorson.Components

<link href="css/jorson/styles.css" rel="stylesheet" />
@if (_blog is not null)
{
    <div id="body">
        <BackLink Link="/users/jorson/food" PageName="food" />
        <h1>@_blog.Title</h1>
        <div>
            @((MarkupString)_blog.Content.Text)
            <img src="img/jorson/james-logo.svg" height="100px">
        </div>
    </div>
}
