@page "/jorson"

@using Client.Pages.Webring.Jorson.Components;

<link href="css/jorson/styles.css" rel="stylesheet" />
<link href="css/jorson/home.css" rel="stylesheet" />

@if (_self == null)
{
}
else
{
    <div id="body">
        <BackLink Link="/" PageName="webring" />
        <h1>
            Hey it's me, @(_self.Name)!
            Check out my <a href="/jorson/life">Blog</a>, <a href="/jorson/games">Games</a>, and recent <a href="/jorson/food">Foodventures</a>.
        </h1>
        <div id="home-body-content">
            <h3 id="who-am-i-heading">Who am I?</h3>
            <p id="who-am-i">
                <br />
                I am a Christian, a husband, a father, and a Computer Scientist working as a Site Reliability Engineer.
                <br /><br />
                These days, I am employed by <a href="https://www.purestorage.com">Pure Storage</a>,
                and I spend most of my free time working on weird crap like this website.
                <br /><br />
                Frankly, just go <a href="https://papa.ursinia.net">here</a> to track my current ramblings and projects.
            </p>
        </div>
    </div>
}
