@page "/webring/dabby"

@using Client.Pages.Webring.Jorson.Components;

<link href="css/dabby/styles.css" rel="stylesheet" />
<link href="css/dabby/home.css" rel="stylesheet" />

@if (_self == null)
{
}
else
{
    <div id="body">
        <div class="top-row">
        </div>
        <BackLink Link="/webring" PageName="webring" />
        <h1>
            Hey it's me, @(_self.Name)!
        </h1>
        <div class="dancing-skeletons"></div>
        <p class="content">
            My life has been quite a time.
        </p>
        <h2>Check out my <a href="/webring/dabby/ramen-blog">Ramen Blog</a>.</h2>
        <div class="dancing-skeletons"></div>
    </div>
}