@* @inject IJSRuntime JS

@page "/users/jorson/games/nox"
@using ExoKomodo.Pages.Users.Jorson.Components

<link href="css/jorson/styles.css" rel="stylesheet" />
<link href="css/jorson/games/nox.css" rel="stylesheet" />

<div id="body">
    <BackLink Link="/users/jorson/games" PageName="games" />
    <h1>A text adventure based around my two cats Nox and Luna. Try to make Nox happy.</h1>
    <div id="nox-container"></div>
</div> *@
