@page "/users/jorson/games/nox"

<link href="css/jorson/styles.css" rel="stylesheet" />
<link href="css/jorson/games/nox.css" rel="stylesheet" />

<div id="body">
    <a href="/users/jorson/games">&larr; Back to Games</a>
    <h1>A text adventure based around my two cats Nox and Luna. Try to make Nox happy.</h1>
    <div id="nox-container"></div>
</div>
