@page "/webring/jorson/games/pong"
@using Client.Pages.Webring.Jorson.Components

<link href="css/jorson/styles.css" rel="stylesheet" />
<link href="css/jorson/games/pong.css" rel="stylesheet" />

<div id="body">
    <BackLink Link="/webring/jorson/games" PageName="games" />
    <h1>Pong is <i>ball</i>er!</h1>
    <div id="pong-container">
    </div>
</div>
