@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 0 auto;
}

.nav.flex-row {
    
}

html {
    background-color: #2f2f2f;
}

h1, h2, h3, h4, h5 {
    font-family: 'Abril Fatface', serif;
}

.loading {
    width: 40%;
    margin: 1% auto;
    display: flex;
    align-content: center;
}

.logo-top {
    max-width: 6rem;
    padding: .5rem;
}

.top-row {
    display: none;
}