@page "/torson"

@using Client.Pages.Webring.Torson.Components;

<link href="css/torson/styles.css" rel="stylesheet" />
<link href="css/torson/home.css" rel="stylesheet" />

@if (_self == null)
{
}
else
{
    <div id="body">
        <BackLink Link="/" PageName="webring" />
        <h1>
            Hey it's me, @(_self.Name)!
        </h1>
        <p>
            Check out my
            <ul>
                <li>
                    <a href="/torson/life">Blog</a>
                </li>
                <li>
                    <a href="/torson/baby-carrier">Baby Carrier Blog</a>
                </li>
                <li>
                    <a href="/torson/book">Book Blog</a>
                </li>
            </ul>
        </p>
    </div>
}